

  <div class="container">
  <h1> This is an object {{loading$}} , this resolves the actual value {{loading$ | async}} </h1>
  <table class="table table-striped" *ngIf="!(loading$ | async)">
    <thead>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Operations</th>
    </thead>
  <tbody>

  <tr *ngFor="let user of (users$ | async)" >
     {{user.id}}
    {{user.fname}}
    {{user.lname}}
  </tr>
</tbody>
</table>
  </div>
    <!--<td><button class="btn btn-danger" (click)="deleteUser(user)">Delete</button></td>
    <td><button class="btn btn-primary" (click)="updateUser(user)">Edit</button></td>
  </tr>
  <div *ngFor="let user of (users$ | async)">
    {{user.id}}
   {{user.fname}}
    {{user.lname}}
  </div>-->
  kdjlfkdjlfkj

  <!--{{users$ | async | json}}-->

    <!--<button class="btn btn-danger" (click)="deleteUser(user)">Delete</button>
    <button class="btn btn-primary" (click)="updateUser(user)">Edit</button>

  <button class="btn btn-danger" (click)="newUser()">New User</button>-->






